body {
  background-color: rgb(206, 236, 246)
}

header {
    text-align: center;
    background-color: rgb(0, 0, 0); 
    height: 90px;   
}

h1 {
    font-size: 75px;
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
  }

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    
    
}
.recipe-card {
    width: 280px;
    margin: 20px; 
    padding: 10px; 
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.recipe-card img {
    width: 280px; 
    height: 200px; 
    object-fit: cover; 
    border: 1px solid rgb(0, 0, 0);
    
    
}

#details-btn {
  width: 50%;
  margin-top: 15px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-left: 70px;
  color: rgb(0, 0, 0);
  font-style: italic;
  
}

.recipe-card h2 {
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#add-recipe-form {
    width: 450px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
  }
  
  #add-recipe-form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 45px;
  }
  
  #add-recipe-form label {
    text-align: left;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
  
  #add-recipe-form input,
  #add-recipe-form select,
  #add-recipe-form textarea {
    width: 75%;
  }
  
  #add-recipe-form button {
    width: 45%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
  }
  
  #fav-btn {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    
  }

  #fav-btn.favorite {
    color:yellow;
  }

  .expanded-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    
  }
  
  .expanded-card h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .expanded-card img {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    
  }
  
  .expanded-card p {
    margin-bottom: 5px;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .expanded-card .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .expanded-card .close-btn:hover {
    background-color: #b02a37;
  }
  
 .horizontal-bar {
  width: 90%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  z-index: 9999; /* Make sure the overlay appears above other elements */
}
#filter-container {
  text-align: center;
  margin-top: 0;
}

#filter-select {
  width: 120px;
  font-size: 18px;
  padding: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.last-bar {
  width: 90%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin-top: 35px;
}

#filter-container label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

#favorites-title {
  font-size: 60px;
  margin-bottom: 10px; 
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

#favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#recipes-title {
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 15px;
}

#search-container {
  text-align: center;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

#search-input {
  width: 125px;
  height: 30px;
}

#search-container label {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

#search-container button {
  height: 30px;
}

#edit-btn {
  width: 50%;
  margin-top: 15px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-left: 70px;
  color: rgb(0, 0, 0);
  font-style: italic;
}


#edit-recipe-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid rgb(0, 0, 0);
  align-items: center;
}



#edit-recipe-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

#edit-recipe-form input[type="text"],
#edit-recipe-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
  margin-right: 10px;
}

#edit-recipe-form button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 140px;
  align-self: center;
}

#edit-recipe-form button[type="submit"]:hover {
  background-color: #45a049;
}

#edit-recipe-form #close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(75, 32, 32);
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a91010;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  font-size: 30px;
}

#del-btn {
  width: 50%;
  margin-top: 15px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-left: 70px;
  color: rgb(0, 0, 0);
  font-style: italic;
}